@charset "utf-8";
html {
  /* 当100vw === 750px时候, 根元素html的 font-size===100px */
  /* font-size: calc(40vw / 3); 1rem = 40/3vw; 7.5rem = 100vw*/
  font-size: calc((100vw / 750) * 100);
}
body {
  /* 默认设计稿是两倍图: 1.宽度750px, font-size: 32px;2.宽度375px, font-size: 16px*/
  font-size: 0.32rem;
  /* 当html标签无背景样式时，body的背景色其实不是body标签的背景色，而是浏览器的。一旦html标签含有背景色，则body的背景色变成了正常的body标签自己的背景色，而此时的html标签最顶级，背景色被浏览器获取，成为浏览器的背景色。 */
  background-color: #f8f8f8;
}
